@{
    ViewBag.Title = "سامانه متمرکز دوره های آموزشی مناطق";
    ViewBag.Text = "معاونت آموزش و پژوهش جمعیت هلال احمر استان تهران";
    ViewBag.Titlet = "پورتال آزمایش و پژوهش هلال احمر استان تهران";
}
<h2>@ViewBag.Titlet</h2>
<h4>@ViewBag.Message</h4>
<div style="margin-bottom:400px;"></div>