@{
    ViewBag.Title = "ارتباط";
    ViewBag.Text = "برای ارتباط با دست در اندرکاران";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        <p>پورتال متمرکز معاونت آموزش و پژوهش جمعیت هلال احمر استان تهران</p>
         <br /><br />
        رضا احمدی<br />
        <abbr title="Phone">P:</abbr>
        933.180.4420
    </address>

    <address>
        <strong>پشتیبانی</strong><br />
        <a href="mailto:rezaahmadidvlp@gmail.com">rezaahmadidvlp@gmail.com</a><br />
    </address>
</div>
<div class="col-md-12 col-md-offset-2" style="margin-bottom:50px;margin-top:40px;">
    <div class="col-md-4">
        <div class="panel panel-default panel-profile">
            <div class="panel-heading ph" style="max-height:250px;background:url();">
                <img src="~/Content/img/Contact/BG2.png" alt="Alternate Text" />
            </div>
            <div class="panel-body text-center">
                <h5 class="panel-title">رضا <b>احمدی</b></h5>
                <p class="m-b">طراحی و برنامه نویسی سایت</p>
                <a href="https://t.me/Kaaqaziam" target="_blank" class="btn btn-primary btn-outline btn-sm ">
                    <span class="glyphicon-plus"></span> تلگرام
                </a>
            </div>
        </div>
    </div>
</div>